# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
env/

# Environment variables
.env
.env.*

# Data (you said you don’t want)
data_outputs/
datasets/
*.csv

# Model files (optional)


# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/